# Settings file for Netflix-like recommender system.
# Lines starting with # are ignored.

# General variables
set_size = 0.1

# File Locations
movies_file = data/movies.csv
ratings_file = data/ratings.csv
users_file = data/users.csv
predictions_file = data/predictions.csv
output_file = submission.csv