# Settings file for Netflix-like recommender system.
# Lines starting with # or [ are ignored.
# <id> = <val>

[General Variables]
#write results to file?
allow_write = false
allow_status_output = true

# Performance-heavy:
randomize_sets = true
normalize = true
bias = true

#training/test set are subsets of rating list
#training/test set will share data if together > 1
training_set_size = 0.8
test_set_size = 0.02

[File Locations]
movies_file = data/movies.csv
ratings_file = data/ratings.csv
users_file = data/users.csv
predictions_file = data/predictions.csv
output_file = submission.csv

[Collaborative Filtering]
# 0 = "user-user", 1 = "item-item"
CF_method = 0

# % of columns that need to be rated for a user to be a candidate.
# very strict: 1.0, easy:0.0
# The larger the data set, the larger this needs to be (i think)
CF_threshold = 0.2

# User-user deviation: rating should not not differ more than:
CF_user_deviation = 1

[Nearest Neighbor Vars]
NN_k = 20

# 0 = "euclid", 1 = "cosine", 2 = "jaccard", 3 = "hamming"
NN_distance_metric = 1
