# Settings file for Netflix-like recommender system.
# Lines starting with # or [ are ignored.
# <id> = <val>

[General Variables]
#write results to file?
allow_write = false
allow_status_output = true

# Performance-heavy:
randomize_sets = true
normalize = false
bias = true

#training/test set are subsets of rating list
#training/test set will share data if together > 1
training_set_size = 0.25
test_set_size = 0.001

[File Locations]
movies_file = data/movies.csv
ratings_file = data/ratings.csv
users_file = data/users.csv
predictions_file = data/predictions.csv
output_file = submission.csv

[Collaborative Filtering]
CF_threshold = 0.1

[Nearest Neighbor Vars]
NN_k = 10

#distance metric: euclid, angular, cosine, acos, hamming...
NN_distance_metric = euclid
